@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    background-color: hsl(0, 0%, 8%);

    font-family: "Inter", sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    padding: 2.5rem 1.8rem 21rem 1.8rem;
    border-radius: 1rem;

    box-shadow: 0.4rem 0.4rem 0.2rem hsl(0, 0%, 12%);
    background-color: hsl(0, 0%, 12%)
}
.box-img {
display: flex;
justify-content: center;
align-items: center;

margin-bottom: 2rem;
}
.form-img{
    width: 50%;
}
.form-img img{
    width: 100%;
    border-radius: 50%;
}
h1{
    color: hsl(0, 0%, 100%);
}
h5{
    color: hsl(75, 94%, 57%);
}
h1,h5{
    margin-bottom: 0.8rem;
}
.heading{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.heading span{
    color:hsl(0, 0%, 100%);
}
.btn{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    gap: 1rem;
}
.btn span{
    border-radius: 0.5rem;
    padding: 0.8rem;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);

}